{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/select/macro.njk"        import govukSelect %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("eventCountry.title"), form.errors) }}
{% endblock %}

{% block mainContent %}

  {{ govukBackLink({
    text: messages("site.back")
  }) }}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <form action="{{ routes.controllers.events.EventCountryController.onSubmit(mrn, mode).url }}" method="post">

          {{ csrf() | safe }}

          {{ govukSelect({
            classes: "govuk-input--width-20 autocomplete",
            label: {
              text: messages('eventCountry.title'),
              isPageHeading: true,
              classes: "govuk-label--xl"
            },
            id: "value",
            name: "value",
            errorMessage: form.value.error,
            items: [
                      {
                        "text": "",
                        "value": ""
                      },
                      {
                        "text": "Afghanistan",
                        "value": "AF"
                      },
                      {
                        "text": "Albania",
                        "value": "AL"
                      },
                      {
                        "text": "Algeria",
                        "value": "DZ"
                      },
                      {
                        "text": "Andorra",
                        "value": "AD"
                      },
                      {
                        "text": "Angola",
                        "value": "AO"
                      },
                      {
                        "text": "Antigua and Barbuda",
                        "value": "AG"
                      },
                      {
                        "text": "Argentina",
                        "value": "AR"
                      },
                      {
                        "text": "Armenia",
                        "value": "AM"
                      },
                      {
                        "text": "Australia",
                        "value": "AU"
                      },
                      {
                        "text": "Austria",
                        "value": "AT"
                      },
                      {
                        "text": "Azerbaijan",
                        "value": "AZ"
                      },
                      {
                        "text": "Bahrain",
                        "value": "BH"
                      },
                      {
                        "text": "Bangladesh",
                        "value": "BD"
                      },
                      {
                        "text": "Barbados",
                        "value": "BB"
                      },
                      {
                        "text": "Belarus",
                        "value": "BY"
                      },
                      {
                        "text": "Belgium",
                        "value": "BE"
                      },
                      {
                        "text": "Belize",
                        "value": "BZ"
                      },
                      {
                        "text": "Benin",
                        "value": "BJ"
                      },
                      {
                        "text": "Bhutan",
                        "value": "BT"
                      },
                      {
                        "text": "Bolivia",
                        "value": "BO"
                      },
                      {
                        "text": "Bosnia and Herzegovina",
                        "value": "BA"
                      },
                      {
                        "text": "Botswana",
                        "value": "BW"
                      },
                      {
                        "text": "Brazil",
                        "value": "BR"
                      },
                      {
                        "text": "Brunei",
                        "value": "BN"
                      },
                      {
                        "text": "Bulgaria",
                        "value": "BG"
                      },
                      {
                        "text": "Burkina Faso",
                        "value": "BF"
                      },
                      {
                        "text": "Myanmar (Burma)",
                        "value": "MM"
                      },
                      {
                        "text": "Burundi",
                        "value": "BI"
                      },
                      {
                        "text": "Cambodia",
                        "value": "KH"
                      },
                      {
                        "text": "Cameroon",
                        "value": "CM"
                      },
                      {
                        "text": "Canada",
                        "value": "CA"
                      },
                      {
                        "text": "Cape Verde",
                        "value": "CV"
                      },
                      {
                        "text": "Central African Republic",
                        "value": "CF"
                      },
                      {
                        "text": "Chad",
                        "value": "TD"
                      },
                      {
                        "text": "Chile",
                        "value": "CL"
                      },
                      {
                        "text": "China",
                        "value": "CN"
                      },
                      {
                        "text": "Colombia",
                        "value": "CO"
                      },
                      {
                        "text": "Comoros",
                        "value": "KM"
                      },
                      {
                        "text": "Congo",
                        "value": "CG"
                      },
                      {
                        "text": "Congo (Democratic Republic)",
                        "value": "CD"
                      },
                      {
                        "text": "Costa Rica",
                        "value": "CR"
                      },
                      {
                        "text": "Croatia",
                        "value": "HR"
                      },
                      {
                        "text": "Cuba",
                        "value": "CU"
                      },
                      {
                        "text": "Cyprus",
                        "value": "CY"
                      },
                      {
                        "text": "Czechia",
                        "value": "CZ"
                      },
                      {
                        "text": "Czechoslovakia",
                        "value": "CS"
                      },
                      {
                        "text": "Denmark",
                        "value": "DK"
                      },
                      {
                        "text": "Djibouti",
                        "value": "DJ"
                      },
                      {
                        "text": "Dominica",
                        "value": "DM"
                      },
                      {
                        "text": "Dominican Republic",
                        "value": "DO"
                      },
                      {
                        "text": "East Germany",
                        "value": "DD"
                      },
                      {
                        "text": "East Timor",
                        "value": "TL"
                      },
                      {
                        "text": "Ecuador",
                        "value": "EC"
                      },
                      {
                        "text": "Egypt",
                        "value": "EG"
                      },
                      {
                        "text": "El Salvador",
                        "value": "SV"
                      },
                      {
                        "text": "Equatorial Guinea",
                        "value": "GQ"
                      },
                      {
                        "text": "Eritrea",
                        "value": "ER"
                      },
                      {
                        "text": "Estonia",
                        "value": "EE"
                      },
                      {
                        "text": "Eswatini",
                        "value": "SZ"
                      },
                      {
                        "text": "Ethiopia",
                        "value": "ET"
                      },
                      {
                        "text": "Fiji",
                        "value": "FJ"
                      },
                      {
                        "text": "Finland",
                        "value": "FI"
                      },
                      {
                        "text": "France",
                        "value": "FR"
                      },
                      {
                        "text": "Gabon",
                        "value": "GA"
                      },
                      {
                        "text": "Georgia",
                        "value": "GE"
                      },
                      {
                        "text": "Germany",
                        "value": "DE"
                      },
                      {
                        "text": "Ghana",
                        "value": "GH"
                      },
                      {
                        "text": "Greece",
                        "value": "GR"
                      },
                      {
                        "text": "Grenada",
                        "value": "GD"
                      },
                      {
                        "text": "Guatemala",
                        "value": "GT"
                      },
                      {
                        "text": "Guinea",
                        "value": "GN"
                      },
                      {
                        "text": "Guinea-Bissau",
                        "value": "GW"
                      },
                      {
                        "text": "Guyana",
                        "value": "GY"
                      },
                      {
                        "text": "Haiti",
                        "value": "HT"
                      },
                      {
                        "text": "Honduras",
                        "value": "HN"
                      },
                      {
                        "text": "Hungary",
                        "value": "HU"
                      },
                      {
                        "text": "Iceland",
                        "value": "IS"
                      },
                      {
                        "text": "India",
                        "value": "IN"
                      },
                      {
                        "text": "Indonesia",
                        "value": "ID"
                      },
                      {
                        "text": "Iran",
                        "value": "IR"
                      },
                      {
                        "text": "Iraq",
                        "value": "IQ"
                      },
                      {
                        "text": "Ireland",
                        "value": "IE"
                      },
                      {
                        "text": "Israel",
                        "value": "IL"
                      },
                      {
                        "text": "Italy",
                        "value": "IT"
                      },
                      {
                        "text": "Ivory Coast",
                        "value": "CI"
                      },
                      {
                        "text": "Jamaica",
                        "value": "JM"
                      },
                      {
                        "text": "Japan",
                        "value": "JP"
                      },
                      {
                        "text": "Jordan",
                        "value": "JO"
                      },
                      {
                        "text": "Kazakhstan",
                        "value": "KZ"
                      },
                      {
                        "text": "Kenya",
                        "value": "KE"
                      },
                      {
                        "text": "Kiribati",
                        "value": "KI"
                      },
                      {
                        "text": "Kosovo",
                        "value": "XK"
                      },
                      {
                        "text": "Kuwait",
                        "value": "KW"
                      },
                      {
                        "text": "Kyrgyzstan",
                        "value": "KG"
                      },
                      {
                        "text": "Laos",
                        "value": "LA"
                      },
                      {
                        "text": "Latvia",
                        "value": "LV"
                      },
                      {
                        "text": "Lebanon",
                        "value": "LB"
                      },
                      {
                        "text": "Lesotho",
                        "value": "LS"
                      },
                      {
                        "text": "Liberia",
                        "value": "LR"
                      },
                      {
                        "text": "Libya",
                        "value": "LY"
                      },
                      {
                        "text": "Liechtenstein",
                        "value": "LI"
                      },
                      {
                        "text": "Lithuania",
                        "value": "LT"
                      },
                      {
                        "text": "Luxembourg",
                        "value": "LU"
                      },
                      {
                        "text": "Madagascar",
                        "value": "MG"
                      },
                      {
                        "text": "Malawi",
                        "value": "MW"
                      },
                      {
                        "text": "Malaysia",
                        "value": "MY"
                      },
                      {
                        "text": "Maldives",
                        "value": "MV"
                      },
                      {
                        "text": "Mali",
                        "value": "ML"
                      },
                      {
                        "text": "Malta",
                        "value": "MT"
                      },
                      {
                        "text": "Marshall Islands",
                        "value": "MH"
                      },
                      {
                        "text": "Mauritania",
                        "value": "MR"
                      },
                      {
                        "text": "Mauritius",
                        "value": "MU"
                      },
                      {
                        "text": "Mexico",
                        "value": "MX"
                      },
                      {
                        "text": "Micronesia",
                        "value": "FM"
                      },
                      {
                        "text": "Moldova",
                        "value": "MD"
                      },
                      {
                        "text": "Monaco",
                        "value": "MC"
                      },
                      {
                        "text": "Mongolia",
                        "value": "MN"
                      },
                      {
                        "text": "Montenegro",
                        "value": "ME"
                      },
                      {
                        "text": "Morocco",
                        "value": "MA"
                      },
                      {
                        "text": "Mozambique",
                        "value": "MZ"
                      },
                      {
                        "text": "Namibia",
                        "value": "NA"
                      },
                      {
                        "text": "Nauru",
                        "value": "NR"
                      },
                      {
                        "text": "Nepal",
                        "value": "NP"
                      },
                      {
                        "text": "Netherlands",
                        "value": "NL"
                      },
                      {
                        "text": "New Zealand",
                        "value": "NZ"
                      },
                      {
                        "text": "Nicaragua",
                        "value": "NI"
                      },
                      {
                        "text": "Niger",
                        "value": "NE"
                      },
                      {
                        "text": "Nigeria",
                        "value": "NG"
                      },
                      {
                        "text": "North Korea",
                        "value": "KP"
                      },
                      {
                        "text": "North Macedonia",
                        "value": "MK"
                      },
                      {
                        "text": "Norway",
                        "value": "NO"
                      },
                      {
                        "text": "Oman",
                        "value": "OM"
                      },
                      {
                        "text": "Pakistan",
                        "value": "PK"
                      },
                      {
                        "text": "Palau",
                        "value": "PW"
                      },
                      {
                        "text": "Panama",
                        "value": "PA"
                      },
                      {
                        "text": "Papua New Guinea",
                        "value": "PG"
                      },
                      {
                        "text": "Paraguay",
                        "value": "PY"
                      },
                      {
                        "text": "Peru",
                        "value": "PE"
                      },
                      {
                        "text": "Philippines",
                        "value": "PH"
                      },
                      {
                        "text": "Poland",
                        "value": "PL"
                      },
                      {
                        "text": "Portugal",
                        "value": "PT"
                      },
                      {
                        "text": "Qatar",
                        "value": "QA"
                      },
                      {
                        "text": "Romania",
                        "value": "RO"
                      },
                      {
                        "text": "Russia",
                        "value": "RU"
                      },
                      {
                        "text": "Rwanda",
                        "value": "RW"
                      },
                      {
                        "text": "Samoa",
                        "value": "WS"
                      },
                      {
                        "text": "San Marino",
                        "value": "SM"
                      },
                      {
                        "text": "Sao Tome and Principe",
                        "value": "ST"
                      },
                      {
                        "text": "Saudi Arabia",
                        "value": "SA"
                      },
                      {
                        "text": "Senegal",
                        "value": "SN"
                      },
                      {
                        "text": "Serbia",
                        "value": "RS"
                      },
                      {
                        "text": "Seychelles",
                        "value": "SC"
                      },
                      {
                        "text": "Sierra Leone",
                        "value": "SL"
                      },
                      {
                        "text": "Singapore",
                        "value": "SG"
                      },
                      {
                        "text": "Slovakia",
                        "value": "SK"
                      },
                      {
                        "text": "Slovenia",
                        "value": "SI"
                      },
                      {
                        "text": "Solomon Islands",
                        "value": "SB"
                      },
                      {
                        "text": "Somalia",
                        "value": "SO"
                      },
                      {
                        "text": "South Africa",
                        "value": "ZA"
                      },
                      {
                        "text": "South Korea",
                        "value": "KR"
                      },
                      {
                        "text": "South Sudan",
                        "value": "SS"
                      },
                      {
                        "text": "Spain",
                        "value": "ES"
                      },
                      {
                        "text": "Sri Lanka",
                        "value": "LK"
                      },
                      {
                        "text": "St Kitts and Nevis",
                        "value": "KN"
                      },
                      {
                        "text": "St Lucia",
                        "value": "LC"
                      },
                      {
                        "text": "St Vincent",
                        "value": "VC"
                      },
                      {
                        "text": "Sudan",
                        "value": "SD"
                      },
                      {
                        "text": "Suriname",
                        "value": "SR"
                      },
                      {
                        "text": "Sweden",
                        "value": "SE"
                      },
                      {
                        "text": "Switzerland",
                        "value": "CH"
                      },
                      {
                        "text": "Syria",
                        "value": "SY"
                      },
                      {
                        "text": "Tajikistan",
                        "value": "TJ"
                      },
                      {
                        "text": "Tanzania",
                        "value": "TZ"
                      },
                      {
                        "text": "Thailand",
                        "value": "TH"
                      },
                      {
                        "text": "The Bahamas",
                        "value": "BS"
                      },
                      {
                        "text": "The Gambia",
                        "value": "GM"
                      },
                      {
                        "text": "Togo",
                        "value": "TG"
                      },
                      {
                        "text": "Tonga",
                        "value": "TO"
                      },
                      {
                        "text": "Trinidad and Tobago",
                        "value": "TT"
                      },
                      {
                        "text": "Tunisia",
                        "value": "TN"
                      },
                      {
                        "text": "Turkey",
                        "value": "TR"
                      },
                      {
                        "text": "Turkmenistan",
                        "value": "TM"
                      },
                      {
                        "text": "Tuvalu",
                        "value": "TV"
                      },
                      {
                        "text": "Uganda",
                        "value": "UG"
                      },
                      {
                        "text": "Ukraine",
                        "value": "UA"
                      },
                      {
                        "text": "United Arab Emirates",
                        "value": "AE"
                      },
                      {
                        "text": "United Kingdom",
                        "value": "GB"
                      },
                      {
                        "text": "United States",
                        "value": "US"
                      },
                      {
                        "text": "Uruguay",
                        "value": "UY"
                      },
                      {
                        "text": "Uzbekistan",
                        "value": "UZ"
                      },
                      {
                        "text": "Vanuatu",
                        "value": "VU"
                      },
                      {
                        "text": "Vatican City",
                        "value": "VA"
                      },
                      {
                        "text": "Venezuela",
                        "value": "VE"
                      },
                      {
                        "text": "Vietnam",
                        "value": "VN"
                      },
                      {
                        "text": "Yemen",
                        "value": "YE"
                      },
                      {
                        "text": "Yugoslavia",
                        "value": "YU"
                      },
                      {
                        "text": "Zambia",
                        "value": "ZM"
                      },
                      {
                        "text": "Zimbabwe",
                        "value": "ZW"
                      }
                    ]

          }) }}

          {{ govukButton({
            text: messages("site.continue"),
            attributes: {id:"submit"}
          }) }}

        </form>

      </div>
    </div>
  </div>
  <script src="{{ routes.controllers.Assets.versioned("javascripts/accessible-autocomplete.js").url }}"></script>
{% endblock %}
