{% extends "includes/layout.njk" %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("arrivalComplete.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            {{ messages("arrivalComplete.heading") }}
          </h1>

          <div class="govuk-panel__body">
           {{ messages("arrivalComplete.yourReferenceNumber")}}
           <strong>{{mrn}}</strong>
          </div>
        </div>

         <h2 class="govuk-heading-m"> {{ messages("arrivalComplete.subHeading") }}</h2>

         <p class="govuk-body"> {{messages("arrivalComplete.para1")}}</p>

          <ul class="govuk-list govuk-list--bullet">
                             <li>{{ messages("arrivalComplete.BulletPoint1") }}</li>
                             <li>{{ messages("arrivalComplete.BulletPoint2") }}</li>
                             </ul>

             <p class="govuk-body"> {{ contactUs }}</p>

          <p class ="govuk-body"> {{ messages("arrivalComplete.link.pretext") }}
            <a href="{{ manageTransitMovementsUrl }}" class="govuk-link"> {{ messages("arrivalComplete.linkText") }} </a>
          </p>

     </div>
    </div>
  </div>

{% endblock %}
