{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk"  import govukSummaryList %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("checkYourAnswers.title")) }}
{% endblock %}

{% block mainContent %}

  {{ govukBackLink({
    text: messages("site.back")
  }) }}


  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("checkYourAnswers.heading") }}
        </h1>

        {% for section in sections %}
            <div class="govuk-summary-sectionRows__row">
            {% if section.sectionTitle %}
              <h2 class="govuk-heading-m">{{ section.sectionTitle }}</h2>
            {%  endif %}
            {{ govukSummaryList({
              rows: section.rows
            }) }}
          </div>
        {% endfor %}

        <h2 class="govuk-heading-m">{{ messages("checkYourAnswers.h2") }}</h2>

        <p class="govuk-body">{{ messages("checkYourAnswers.p1") }}</p>

         <form action="{{ routes.controllers.CheckYourAnswersController.onSubmit.url }}" method="post">

              {{ csrf() | safe }}

               {{ govukButton({
                  text: messages("site.confirmAndSend"),
                  attributes: {id:"submit"}
               }) }}

         </form>
      </div>
    </div>
  </div>

{% endblock %}
