{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/radios/macro.njk"        import govukRadios %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("incidentOnRoute.title"), form.errors) }}
{% endblock %}

{% block mainContent %}

  {{ govukBackLink({
    text: messages("site.back")
  }) }}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <form action="{{ routes.controllers.IncidentOnRouteController.onSubmit(mrn, mode).url }}" method="post">

          {{ csrf() | safe }}

              {% macro radioBtnHintText() %}
                   {{ messages("incidentOnRoute.hintText.tad") }}
                    <p class="govuk-hint">{{ messages("incidentOnRoute.hintText.tellUs") }}</p>
                      <ul class="govuk-list govuk-list--bullet govuk-hint">
                      <li>{{ messages("incidentOnRoute.hintText.bullet.1") }}</li>
                      <li>{{ messages("incidentOnRoute.hintText.bullet.2") }} </li>
                      <li>{{ messages("incidentOnRoute.hintText.bullet.3") }}</li>
                      <li>{{ messages("incidentOnRoute.hintText.bullet.4") }}</li>
                      <li>{{ messages("incidentOnRoute.hintText.bullet.5") }} </li>
                      <li>{{ messages("incidentOnRoute.hintText.bullet.6") }} </li>
                      </ul>
              {% endmacro %}

          {{ govukRadios({
            classes: "govuk-radios--inline",
            name: 'value',
            fieldset: {
              legend: {
                text: messages('incidentOnRoute.title'),
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
             hint: {
              html: radioBtnHintText()
             },
            items: radios,
            errorMessage: form.value.error
          }) }}

          {{ govukButton({
            text: messages("site.continue"),
            attributes: {id:"submit"}
          }) }}

        </form>

      </div>
    </div>
  </div>

{% endblock %}
